<div *ngIf="isSubmitted">
  <div class = "alert alert-success" style="text-align:center">
    Indicates a successful or positive action.
  </div></div>

  <div *ngIf="errorMessage">
    <div class = "alert alert-success" style="text-align:center">
    {{errorMessage}}
    </div></div>

    {{firstname}}
<div class="container" *ngIf = "!errorMessage">
  <form class="well form-horizontal" action=" " method="post" id="contact_form" #formData="ngForm" (ngSubmit)="processForm(formData)" *ngIf="!isSubmitted">
    <fieldset>

      <!-- Text input-->
      <p> Birthday: {{birthday | date:fullDate}} </p>
      <p> valid: {{name.valid}} </p>
      <p> touch: {{name.touched}} </p>
      <p> pristine: {{name.pristine}} </p>
      <p> dirty: {{name.dirty}} </p>
      
      <input  [(ngModel)]="model.id"  name="id"  class="form-control" type="hidden">
      
      <div class="form-group">
        <label class="col-md-4 control-label">Name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input minlength="4" [(ngModel)]="model.username" name="username" required placeholder="First Name" class="form-control"
              type="text" #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched || formData.submitted)">
              <span class="help-block" *ngIf="name.errors.required">Name is required</span>
              <span class="help-block" *ngIf="name.errors.minlength">Name should be at least 4 characters</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Color</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input [(ngModel)]="model.color" name="color"  placeholder="color" class="form-control"
              type="text"  [style.background-color]="model.color">
         
          </div>
        </div>
      </div>
      <!-- Text input-->

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="email" [(ngModel)]="model.email" #useremail="ngModel" ngModel placeholder="E-Mail Address" class="form-control"
              type="text" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div *ngIf="useremail.invalid && (useremail.dirty || useremail.touched || formData.submitted)">
              <span class="help-block" *ngIf="useremail.errors.required">Email is required</span>
              <span class="help-block" *ngIf="useremail.errors.pattern">Invalid email</span>
            </div>

          </div>
        </div>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Phone #</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="phone" [(ngModel)]="model.phone" #userphone="ngModel" placeholder="(845)555-1212" class="form-control" type="text" required>

            <div *ngIf="userphone.invalid && (userphone.dirty || userphone.touched || formData.submitted)">
              <span class="help-block" *ngIf="userphone.errors.required">Phone is required</span>
            </div>

          </div>
        </div>
      </div>

      <!-- Text input-->

    

      <div class="form-group">
        <label class="col-md-4 control-label">State</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="state" [(ngModel)]="model.state" class="form-control selectpicker" #userstate="ngModel" required>
        <option value="">Please select your state</option>
        <option>Alabama</option>
        <option>Alaska</option>
        <option >Arizona</option>
        <option >Arkansas</option>
        <option >California</option>
        <option >Colorado</option>
        <option >Connecticut</option>
        <option >Delaware</option>
        <option >District of Columbia</option>
        <option> Florida</option>
        <option >Georgia</option>
        <option >Hawaii</option>
        <option >daho</option>
        <option >Illinois</option>
        <option >Indiana</option>
        <option >Iowa</option>
        <option> Kansas</option>
        <option >Kentucky</option>
        <option >Louisiana</option>
        <option>Maine</option>
        <option >Maryland</option>
        <option> Mass</option>
        <option >Michigan</option>
        <option >Minnesota</option>
        <option>Mississippi</option>
        <option>Missouri</option>
        <option>Montana</option>
        <option>Nebraska</option>
        <option>Nevada</option>
        <option>New Hampshire</option>
        <option>New Jersey</option>
        <option>New Mexico</option>
        <option>New York</option>
        <option>North Carolina</option>
        <option>North Dakota</option>
        <option>Ohio</option>
        <option>Oklahoma</option>
        <option>Oregon</option>
        <option>Pennsylvania</option>
        <option>Rhode Island</option>
        <option>South Carolina</option>
        <option>South Dakota</option>
        <option>Tennessee</option>
        <option>Texas</option>
        <option> Uttah</option>
        <option>Vermont</option>
        <option>Virginia</option>
        <option >Washington</option>
        <option >West Virginia</option>
        <option>Wisconsin</option>
        <option >Wyoming</option>
      </select>
            <div *ngIf="userstate.invalid && (userstate.dirty || userstate.touched || formData.submitted)">
              <span class="help-block" *ngIf="userstate.errors.required">Please select a state</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Zip Code</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input name="zip" [(ngModel)]="model.zip" placeholder="Zip Code" #zipcode="ngModel" class="form-control" type="text" required>
            <div *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched || formData.submitted)">
              <span class="help-block" *ngIf="zipcode.errors.required">Zipcode is required</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Website or domain name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
            <input name="website" [(ngModel)]="model.website" #web="ngModel" placeholder="Website or domain name" class="form-control"
              type="text" required>

            <div *ngIf="web.invalid && (web.dirty || web.touched || formData.submitted)">
              <span class="help-block" *ngIf="web.errors.required">website is required</span>
            </div>
          </div>
        </div>
      </div>

      <!-- radio checks -->
      <div class="form-group">
        <label class="col-md-4 control-label">Select Gender</label>
        <div class="col-md-4">
          <div class="radio">
            <label>
                                      <input type="radio"  [(ngModel)] = "model.gender" #host="ngModel" name="gender" value="male" required/> Male
                                  </label>
          </div>
          <div class="radio">
            <label>
                                      <input type="radio" [(ngModel)] = "model.gender" name="gender" #host="ngModel" value="female" required/> Female
                                  </label>
       
                                  <div *ngIf="host.invalid && (host.dirty || host.touched || formData.submitted)">
                                    <span class="help-block" *ngIf="host.errors.required">Hosting is required</span>
                                  </div>
       
                                </div>
        </div>
      </div>

      <!-- Text area -->


      <!-- Success message -->


      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button>
        </div>
      </div>

    </fieldset>
  </form>
  
</div>
<div>
