<div class="container">
  <form class="well form-horizontal" [formGroup]="form" (ngSubmit)="processForm()">
    <fieldset>


      <div class="form-group">
        <label class="col-md-4 control-label">Name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input formControlName="username" placeholder="First Name" class="form-control" type="text">

            <span class="help-block" *ngIf="formError.username">
                  {{formError.username}}
              </span>


          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Color</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input formControlName="color" placeholder="color" class="form-control" type="text" [style.background-color]="color">
            <span class="help-block" *ngIf="formError.color">
              {{formError.color}}
          </span>
          </div>
        </div>
      </div>
      <!-- Text input-->

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input formControlName="email" placeholder="E-Mail Address" class="form-control" type="text">
            <span class="help-block" *ngIf="formError.email">
              {{formError.email}}
          </span>

          </div>
        </div>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Phone #</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input formControlName="phone" placeholder="(845)555-1212" class="form-control" type="text">
            <span class="help-block" *ngIf="formError.phone">
              {{formError.phone}}
          </span>
          </div>
        </div>
      </div>

      <!-- Text input-->



      <div class="form-group">
        <label class="col-md-4 control-label">State</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select formControlName="state" class="form-control selectpicker">
        <option value="">Please select your state</option>
        <option>Alabama</option>
        <option>Alaska</option>
        <option >Arizona</option>
        <option >Arkansas</option>
        <option >California</option>
        <option >Colorado</option>
        <option >Connecticut</option>
        <option >Delaware</option>
        <option >District of Columbia</option>
        <option> Florida</option>
        <option >Georgia</option>
        <option >Hawaii</option>
        <option >daho</option>
        <option >Illinois</option>
        <option >Indiana</option>
        <option >Iowa</option>
        <option> Kansas</option>
        <option >Kentucky</option>
        <option >Louisiana</option>
        <option>Maine</option>
        <option >Maryland</option>
        <option> Mass</option>
        <option >Michigan</option>
        <option >Minnesota</option>
        <option>Mississippi</option>
        <option>Missouri</option>
        <option>Montana</option>
        <option>Nebraska</option>
        <option>Nevada</option>
        <option>New Hampshire</option>
        <option>New Jersey</option>
        <option>New Mexico</option>
        <option>New York</option>
        <option>North Carolina</option>
        <option>North Dakota</option>
        <option>Ohio</option>
        <option>Oklahoma</option>
        <option>Oregon</option>
        <option>Pennsylvania</option>
        <option>Rhode Island</option>
        <option>South Carolina</option>
        <option>South Dakota</option>
        <option>Tennessee</option>
        <option>Texas</option>
        <option> Uttah</option>
        <option>Vermont</option>
        <option>Virginia</option>
        <option >Washington</option>
        <option >West Virginia</option>
        <option>Wisconsin</option>
        <option >Wyoming</option>
      </select>
            <span class="help-block" *ngIf="formError.state">
        {{formError.state}}
    </span>
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Zip Code</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input formControlName="zip" placeholder="Zip Code" class="form-control" type="text">
            <span class="help-block" *ngIf="formError.zip">
              {{formError.zip}}
          </span>
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Website or domain name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
            <input formControlName="website" placeholder="Website or domain name" class="form-control" type="text">
            <span class="help-block" *ngIf="formError.website">
              {{formError.website}}
          </span>

          </div>
        </div>
      </div>

      <!-- radio checks -->
      <div class="form-group">
        <label class="col-md-4 control-label">Do you have hosting?</label>
        <div class="col-md-4">
          <div class="radio">
            <label>
                                      <input type="radio"  formControlName="hosting" value="yes" /> Yes
                                  </label>
          </div>
          <div class="radio">
            <label>
                                      <input type="radio" value="no" formControlName="hosting"/> No
                                  </label>
            <span class="help-block" *ngIf="formError.hosting">
                                    {{formError.hosting}}
                                </span>

          </div>
        </div>
      </div>

      <!-- Text area -->
  

      <!-- Success message -->
      <div formArrayName="addresses">
        <div *ngFor = "let address of form.controls.addresses['controls'];let i=index" >
          <div [formGroupName]="i">
              {{i}}
          <div class="form-group">
            <label class="col-md-4 control-label">City1</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input formControlName="city1" placeholder="Zip Code" class="form-control" type="text">
            
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">City2</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                <input formControlName="city2" placeholder="Website or domain name" class="form-control" type="text">
        


              </div>

            </div>
          </div>
        </div>

        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button>
       
        </div>
      </div>

    </fieldset>
  </form>
  <div class="form-group">
    <label class="col-md-4 control-label"></label>
    <div class="col-md-4">
      <button class="main-link"   (click) = "addInput()" class="btn btn-info">ADD</button>
    </div>
  </div>

</div>
<div>