<div class="bhoechie-tab-content active">

  <div class="spacialised_first clearfix commbox">
    <h3>Careers:</h3>
    <ul class="li-pad">
      <li>High anxiety, probably because of reduced ability to understand the world</li>
      <li>Repetitive behaviour</li>
      <li>Lack of interest (for children) in playing with other children</li>
      <li>Lack of understanding of facial expressions or tones of voice</li>
      <li>Literal understanding of words: a person with Book may have difficulty in understanding common metaphors such as "it's
        raining cats and dogs"</li>
      <li>Special interests which may be obsessive.</li>
    </ul>
  </div>
</div>